//* Repeater (Module)
@import '../styles/variables.module';

// ========================================================================

.c_repeater {
    display: flex;
    gap: $global-gutter;
    flex-wrap: wrap;
}