//* Navbar (Module)
@import '../../styles/variables.module';
// ========================================================================

.c_navbar.c_navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 $global-medium-gutter;
    background: transparent;
    z-index: 99;

    a {
        color: $global-inverse-color;
    }

    @media screen and (max-width: $breakpoint-small-max){
        padding: 0 $global-gutter;
    }
}

.c_navbar__sublevel {
    margin-left: $global-small-margin!important;
    margin-bottom: $global-small-margin!important;
}


.isActive {
    color: $global-link-color!important;
}
