//* News (Page)
@import '../styles/variables.module';

// ========================================================================

.c_news {
    height: 120px;
    width: 100%;
    background-color: $global-emphasis-color;
}