//* Block (Module)
// ========================================================================

.c_block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}