/* JS Interactions */
// ========================================================================

.js-navbar {
    transition: background-color, backdrop-filter .8s ease-in-out;

    &.isScrolled {
        backdrop-filter: blur(4px)!important;
        background: rgba($global-background, .7) !important;
        box-shadow: $global-small-box-shadow;

        a {
            transition: background-color, backdrop-filter .8s ease-in-out;
            color: $global-emphasis-color!important;
        }
    }
}
