/* JS Interactions */
// ========================================================================

.js-navbar {
    transition: background-color .6s ease-in-out;

    &.isScrolled {
        background: $global-secondary-background !important;

        a {
            transition: background-color, backdrop-filter .8s ease-in-out;
        }
    }
}
