/* Overrides */
// ========================================================================

.uk-container {
    width: 100%;
    box-sizing: border-box;
}

.uk-navbar-item {
    min-height: 100px;
}

.uk-navbar-nav > li.uk-active > a {
    color: $global-link-color;
}