/* Overrides */
// ========================================================================

.uk-container {
    width: 100%;
    box-sizing: border-box;
}

.uk-container-large {
    max-width: $breakpoint-large;
}

.uk-navbar-item {
    min-height: 100px;
}
